* {
    margin: 0px;
    padding: 0px;
  }
  .container {
   max-width: 900px;
   Margin: 0 auto;
  }
  .resume_box {
    max-width: 800px;
    Margin: 0 auto;
    background-color: #ccc;
    padding: 50px 50px;
    border: 8px solid rgb(223, 138, 11);
  }
  .resume_box:hover {
    border: 8px solid black;
  }
  header {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    text-decoration: underline;
  }
  .first_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    border: 3px solid black;
  }
  .first_section:hover {
    border: 3px solid rgb(235, 13, 13)
  }
  .name_bar h2 {
    text-decoration: underline ;
    margin-bottom: 20px;
  } 
  .name_bar i {
    margin-right: 5px;
    font-size: 15px;
  }
  .image_box {
    background-image: url("./image/jay_photos.jpg");
    background-size: cover;
    height: 160px;
    width: 160px;
    border: 3px solid black;
  } 
  .image_box:hover {
    border: 3px solid yellow;
  }
  .section_box {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .section_box h3 {
    margin-bottom: 10px;
  }
  .section_box table, p, li{
    line-height: 20px;
    margin-left: 35px;
  }
  footer {
    display: flex;
    justify-content: space-between;
  }
  .date h3 {
    margin-left: 48px;
    margin-bottom: 8px;
  }
  input {
    margin-left: 15px;
    padding: 3px 4px;
    border: 3px solid black;
    font-weight: bold;
  }
  input:hover {
    background-color: rgb(255, 213, 0);
    border: 3px solid black;
    cursor: pointer;
  }
  
  .name {
    margin-right: 30px;
  }
  